* {
    color: #70540d;

    text-align: center
}

body{    
    background-color: #fff7e2;
}
img{
    border-radius: 50%;
}
.profile img{
    margin-top: 100px;
}
.profile h3 {
    margin-top: 20px;    
    margin-bottom: 10px;
}
.profile p {
    margin-bottom: 80px;
}
.copyright p {
    margin-top: 100px;
}
.sns-box { width : 300px; display:inline-block; } 

nav{ background-color:#ffe4a5!important; }